<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    
</head>
  <body style="background-color:#b0e0e6;">

<link href="./static/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
<script type="text/javascript" src="./static/fontawesome-free-5.15.2-web/js/all.js"></script>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <header>
      <div class="container">
        <!-- <h1 class="logo">DICOMFortable</h1> -->
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('help') }}">Help</a></li>
            <li><a href="{{ url_for('index') }}">diCOMBINE</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
{% block content %}
{% endblock %}

 </body>
</html>